[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/Stullemon/cryptopp.git
	branch = lastrelease
[submodule "zlib"]
	path = zlib
	url = https://github.com/Stullemon/zlib.git
	branch = emule
[submodule "png"]
	path = png
	url = https://github.com/Stullemon/libpng.git
	branch = emule
